{% extends "base.html" %}

{% block title %}
{{super()}} Principal
{% endblock %}

{% block content %}
  <div class="btn-wrapper">
    <a href="{{ url_for('add_person') }}"><button>➕ Agregar</button></a>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <th>Id.</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th></th>
      </thead>
      <tbody>
        {% for person in persons%}
          <tr>
            <td>{{ person.id }}</td>
            <td><a href="{{ url_for('person_detail', id=person.id) }}">{{ person.name }}</a></td>
            <td>{{ person.age }}</td>
            <td>
              <a href="{{ url_for('edit_person', id=person.id) }}" title="Editar">
                <button>✍️ Editar</button></a>
              <a href="{{ url_for('delete_person', id=person.id) }}" title="Eliminar">
                <button>❌ Eliminar</button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}