/* 
  Paleta de colores:
  #9A3B3B
  #C08261
  #E2C799
  #F2ECBE
*/

/* Importando una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F2ECBE;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
}

header,
footer {
  background-color: #9A3B3B;
  padding: 10px;
  color: #F2ECBE;
}

/* 
Barra de menú::
  Quitar la viñeta de la lista,
  Quitar margenes y padding.
*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

/* 
  Que cada item de la lista esté en una sola línea
  uno a la izquierda del otro.
 */
nav ul li{
  float: left;
}

/* Formato de cada link */
nav ul li a {
  background-color: #F2ECBE;
  padding: 4px 8px;
  font-size: small;
  font-weight: bold;
  margin: auto 4px;
  text-decoration: none;
  border-radius: 5px;
  color: #9A3B3B;
}

/* Cuando pasas el puntero sobre un link cambia de color. */
nav ul li a:hover {
  background-color: #C08261;
  color: #F2ECBE;
}

main {
  padding: 20px 40px;
  font-size: 90%;
  min-height: 79.5vh;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
  margin-block-end: 0;
  /* Usando la fuente importada */
  font-family: 'Sofia', cursive;
  text-shadow: 3px 3px 4px black;
  letter-spacing: 1px;
}

iframe {
  /* Sombra para iframe */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer p {
  margin: 4px;
  font-size: smaller;
}

footer a {
  text-decoration: none;
}

#container-form {
  display: flex;
  justify-content: center;
}

#container-form h2 {
  margin-top: 20px;
}

input,
select {
  padding: 2px;
}

input[type=submit],
input[type=reset] {
  padding: 4px;
  width: 230px;
}

.recipe {
  margin: 20px 100px;
  padding: 10px 100px;
  background-color: #E2C799;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}

.recipe img{
  width: 300px;
}

#logo {
  /* Coloca el logotipo abajo a la derecha */
  position:absolute;
  bottom: 25px;
  right: 30px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #C08261;
  padding: 1px;
}

#logo-aboutme {
  height: 104px;
  border: 2px solid #9A3B3B;
  border-radius: 5px;
  padding: 4px;
}