body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 110%;
  font-weight: 700;
}

.main-footer {
  margin-top: 2rem;
  padding-left: 1rem;
}